@mixin backgrounds($image){
	background-image: url($image);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@mixin buttons($bgColor, $fontColor){
	@include borders(.75em);
	background-color: $bgColor;
	color: $fontColor;
	font-size: 20px;
	padding: .5rem 1.5rem;
	text-decoration: none;
	font-weight: $font-weight-bold;
	@include transitions(250);
	&:hover{
		transform: scale(1.05);
	}
}