
$fuente: 'Overpass', sans-serif;
$font-color-main: #282828;


$bg-color-footer: #666666;

$bg-body: #fafafa;
$background-color-grey: #c7c7c7;


$max-site: 1140px;


$font-weight-bold: 700;

$point-md: 768px;
$point-lg: 992px;
$point-xl: 1200px;

.bsgFontLight{
	font-weight: 300;
}
.bsgFontRegular{
	font-weight: 400;
}
.bsgFontItalic{
	@extend .bsgFontRegular;
	font-style: italic;
}
.bsgFontMedium{
	font-weight: 500;
}
.bsgFontSemiBold{
	font-weight: 600;
}
.bsgFontBold{
	font-weight: $font-weight-bold;
}
.bsgFontBoldItalic{
	@extend .bsgFontBold;
	font-style: italic;

}



.textColorMain{
	color: $font-color-main;
}
.textColorLight{
	color: $font-color-light;
}
.textColorLight{
	color: $font-color-light;
}
.textColorWhite{
	color: $font-color-white;
}
.fontBold{
	font-weight: 700;
}
.bg-footer{
	background-color: $bg-color-footer;
}
