
$fuente: 'Overpass', sans-serif;
$color-fuente: #444;
$bgColorBlack: #000;
$color-hover: #394A7C;
$bg-color-nav: #4d4d4d;

//FOnt Sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 2.125rem;